h1 style="text-align: center"= params[:filter] || 'All'

= area_chart @graph1, xtitle: 'Date', ytitle: '# Issues', discrete: true

= line_chart @graph3, xtitle: 'Date', ytitle: 'days open', discrete: true

= column_chart @graph2, xtitle: 'Date', ytitle: '# days to close', discrete: true

